*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 2;
}

.header{
  background: rgb(255, 255, 255);
  text-align: center;
  height: 30%;
  padding-top: 50px;
  padding-bottom: 30px;
}

.body{
  background: rgb(246, 246, 246);
  height: 70%;
  padding: 100px 140px 100px 180px;
}

.body h2{
  margin-left: -20px;
  margin-bottom: 20px;
}

span{
  font-weight: 700;
}

hr{
  border: none;
  height: 1px;
  width: 90%;
  background-color: #ddd;
  margin: 2rem auto;
  border-radius: 2px;
}

a{
  text-decoration: none;
  color: rgb(44, 146, 255);
}